* {
    box-sizing: border-box;
  }
.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 250ms ease-in-out;
  }
.gallery-item {
    width: 30%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 24px 156px;
    gap: 24px;
}
.gallery-image:hover {
    transform: scale(1.04);
}